* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-size: 14px;
}

body {
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************************/
/*   SEARCH COMPONENT   */

.Search {
  z-index: 4;
  position: fixed;
  top: 20;
  margin: 12px 190px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  overflow: scroll;
}

.Search input {
  padding: 9px;
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  text-align: center;
  background-color: rgba(256, 256, 256, .75);
  outline: none;
  color: #444;
  box-shadow: 1px 1px 0px 0.1px rgba(173,173,173,0.69);
    -webkit-box-shadow: 1px 1px 0px 0.1px rgba(173,173,173,0.69);
    -moz-box-shadow: 1px 1px 0px 0.1px rgba(173,173,173,0.69);
}

.Search button {
  padding: 9px;
  margin-left: 10px;
  min-width: 160px;
  max-width: 160px;
  width: 150px;
  border: none;
  border-radius: 2px;
  background-color: #f1c40f;
  color: #2d3436;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0.1px rgba(173,173,173,0.69);
    -webkit-box-shadow: 1px 1px 0px 0.1px rgba(173,173,173,0.69);
    -moz-box-shadow: 1px 1px 0px 0.1px rgba(173,173,173,0.69);
}

.Search button:hover {
  background-color: #f6b93b;
  color: #f5f6fa;
}

/* END SEARCH COMPONENT */
/************************/



/**************************/
/*   LOCATION COMPONENT   */

.Location {
  display: flex;
  align-items: center;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  height: 98vh;
  min-width: 400px;
  max-width: 400px;
  margin-top: 35px;
  transition: transform .7s;
}

.Location-hide {
  transform: translateX(-360px);
  transition: transform .7s;    
  transition-timing-function: cubic-bezier(.12,.99,.87,.87);
}

.Venues {
  /* margin: 20px; */
  height: 90%;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: scroll;
  box-shadow: 1.5px 1.2px 2.5px 0.9px rgba(173,173,173,0.69);
    -webkit-box-shadow: 1.5px 1.2px 2.5px 0.9px rgba(173,173,173,0.69);
    -moz-box-shadow: 1.5px 1.2px 2.5px 0.9px rgba(173,173,173,0.69);
}

.Truck {
  padding: 15px;
  text-align: left;
  border-top: 1px solid rgba(236, 236, 236,,1);
  line-height: 110%;
  background: rgb(236, 236, 236,);
  background: linear-gradient(180deg, rgba(236, 236, 236, .85) 30%, rgba(255,255,255,1) 70%);
}

.Truck:hover {
  background: rgb(186, 186, 186,);
  background: linear-gradient(180deg, rgba(186, 186, 186, .85) 30%, rgba(255,255,255,1) 70%);
  cursor: default;
}

.Truck-wrapper {
  display: flex;
  width: 100%;
  height: 140px;
}

.Truck {
  width: 70%;
}

.Truck-image {
  width: 30%;
  height: 100%;
  background-color: #444;
  background-image: url("http://jonmaldia.com/img/foodtruck.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Truck h3 {
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #2d3436;
  font-size: 1.1rem;
  font-weight: bolder;
}

.Truck p {
  font-size: 1rem;
  padding-bottom: 5px;
  color: #2c3e50;
}

.Truck a {
  color: #f39c12;
}

.Truck a:hover {
  color: #fdcb6e;;
}

.Location button {
  height: 40px;
  width: 40px;
  outline: none;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(236, 236, 236, 1);
  background: linear-gradient(180deg, rgba(236, 236, 236, .85) 0%, rgba(255,255,255,1) 900%);
  color: #f6b93b;
  box-shadow: 1.5px 1.2px 2.5px 0.9px rgba(173,173,173,0.69);
    -webkit-box-shadow: 1.5px 1.2px 2.5px 0.9px rgba(173,173,173,0.69);
    -moz-box-shadow: 1.5px 1.2px 2.5px 0.9px rgba(173,173,173,0.69);
  transform: translateX(-1px);
  cursor: pointer;
}

.Location button:hover {
  background-color: rgba(236, 236, 236, .75);
  color: #e1b12c;
}
/* END LOCATION COMPONENT */
/**************************/


.fas {
  font-size: 1.75em;
  font-weight: 900;
}